In [2]:
list1 = [10,20,40,90,200]
list2 = [10,20,90,20,30,10]
if(list1[0]==list1[4]):
    print("It's True")
else:
    print("It's False")

if(list2[0]==list2[5]):
    print("It's True")
else:
    print("It's False")

It's False
It's True

In [3]:
tup1 = (10,20,40,90,200)
tup2 = (10,20,90,20,30,10)
if(tup1[0]==tup1[4]):
    print("It's True")
else:
    print("It's False")

if(tup2[0]==tup2[5]):
    print("It's True")
else:
    print("It's False")

It's False
It's True

In [76]:
str1 = (input("enter the string"))
ch1 = (input("enter the char"))
for i in range(len(str1)):
    if(ch1[i]>='a' and ch1[i]<='z'):
        str2 = str2+ch1[i]
        print('the upper case letters are:{}'.format(str2))
    else:
        str3 = str3+ch1[i]
        print('the lowercase letters are{}'.format(str3))

enter the string Hello World

NameError: name 'str3' is not defined

In [96]:
sum = 0
for i in range(0,11):
    sum = sum+i
print(sum)

55

In [89]:
num1 = int(input("how many terms?"))
n1=0
n2=1
count=0
if(num1<=0):
    print("enter  positive number")
elif(num1==1):
    print(num1)
    print(n1)
else:
    print("fibonacci sequence:")
    while count<num1:
        print(n1)
        n3=n1+n2
        n1=n2
        n2=n3
        count=count+1

how many terms? 9

fibonacci sequence:
0
1
1
2
3
5
8
13
21

In [2]:
num = int(input("enter a number:"))
flag = False
if num>1:
    for i in range(2,num):
        if(num%i==0):
            flag = True
            break
if flag:
    print(num,"is not a prime number")
else:
    print(num,"is a prime number")

enter a number: 9

9 is not a prime number

In [97]:
str1 = "Hello World"
lower = 0
upper = 0
for i in str1:
    if(i > 'a' and i < 'z'):
        lower+=1
        
    elif( i >'A' and i <'Z'):
        upper+=1
        
print('lowercase letters= ',lower)    
print('uppercase letters= ',upper)

lowercase letters=  8
uppercase letters=  2

In [122]:
str1 = "abc"
str2 = "string"
if(len(str1)>=3):
       str3 = str1+'ing'        
else:
    str3 = str1+'ly'
    
if(len(str2)>=3):
    str4 = str2+'ly'
else:
    str4 = str2+'ing'

print(str3)
print(str4)

abcing
stringly

In [130]:
def eveodd(man):
    odd_number = []
    even_number = []
    for i in man:
        if(i%2==0):
            even_number.append(i)
        else:
            odd_number.append(i)
    return(odd_number,even_number)

In [131]:
eveodd([1,2,3,4,5])

([1, 3, 5], [2, 4])

In [138]:
def flatt(list1):
    for i in list1:
        for j in i:
            print(j, end=' ')

In [139]:
flatt([[1,2],[3,4,5],[6,7,8]])

1 2 3 4 5 6 7 8

In [155]:
def compare_(list1,list2):
    if(len(list1) != len(list2)):
        return False
    elif(list1 == list2):
        return True
    else:
        return False

In [160]:
compare_([1,2,3,4,5],[1,2,3,4,5])

True

In [161]:
compare_([1,2,3],[1,2,3,4,5])

False

In [162]:
compare_([1,2,3,4,5],[1,5,3,4,5])

False

In [10]:
n = int(input("enter the value of n"))
print("prime numbers between 1 and {} are:".format(n))
for i in range(1,n+1):
    if(i == 1):
        continue
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i,end=' ')

enter the value of n 10

prime numbers between 1 and 10 are:
2 3 5 7

In [53]:
num = 2
for i in range(1,11):
    print(num,'X',i,'=',num * i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [56]:
def mul_(val1,val2):
    for i in range(1,11):
            print(val1,'X',i,'=',val1*i)
    for i in range(1,11):
            print(val2,'X',i,'=',val2*i)

In [57]:
mul_(2,3)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [24]:
for i in range(1,11):    
    for j in range(1,11):
        print(i * j,end='  ')
    print( )

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100